[submodule "janus/vim-fugitive"]
	path = janus/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "janus/vim-endwise"]
	path = janus/vim-endwise
	url = git://github.com/tpope/vim-endwise
[submodule "janus/vim-surround"]
	path = janus/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "janus/ack.vim"]
	path = janus/ack.vim
	url = git://github.com/mileszs/ack.vim
[submodule "janus/vim-ruby"]
	path = janus/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby
[submodule "janus/splitjoin.vim"]
	path = janus/splitjoin.vim
	url = git://github.com/AndrewRadev/splitjoin.vim
[submodule "airblade/vim-gitgutter"]
	path = airblade/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.vim 
