-- 6.8.2
Arrows
BangPatterns
CPP
ConstrainedClassMethods
DeriveDataTypeable
DisambiguateRecordFields
EmptyDataDecls
ExistentialQuantification
ExtendedDefaultRules
FlexibleContexts
FlexibleInstances
ForeignFunctionInterface
FunctionalDependencies
GADTs
GeneralizedNewtypeDeriving
Generics
ImplicitParams
ImplicitPrelude
IncoherentInstances
KindSignatures
LiberalTypeSynonyms
MagicHash
MonoPatBinds
MonomorphismRestriction
MultiParamTypeClasses
OverlappingInstances
OverloadedStrings
PArr
ParallelListComp
PatternGuards
PatternSignatures
PolymorphicComponents
Rank2Types
RankNTypes
RecordPuns
RecordWildCards
RecursiveDo
RelaxedPolyRec
ScopedTypeVariables
StandaloneDeriving
TemplateHaskell
TypeFamilies
TypeOperators
TypeSynonymInstances
UnboxedTuples
UndecidableInstances
UnicodeSyntax
UnliftedFFITypes
--
-fasm-mangling
-fdo-lambda-eta-expansion
-fembed-manifest
-fgen-manifest
-fignore-interface-pragmas
-fno-break-on-error
-fno-break-on-exception
-fno-case-merge
-fno-cse
-fno-dicts-cheap
-fno-do-eta-reduction
-fno-excess-precision
-fno-force-recomp
-fno-full-laziness
-fno-hpc-no-auto
-fno-ignore-asserts
-fno-ignore-breakpoints
-fno-liberate-case
-fno-print-evld-with-show
-fno-print-explicit-foralls
-fno-regs-graph
-fno-regs-iterative
-fno-rewrite-rules
-fno-spec-constr
-fno-strictness
-fno-unbox-strict-fields
-fno-vectorise
-fno-warn-dodgy-imports
-fno-warn-hi-shadowing
-fno-warn-implicit-prelude
-fno-warn-incomplete-patterns
-fno-warn-incomplete-record-updates
-fno-warn-missing-signatures
-fno-warn-monomorphism-restriction
-fno-warn-name-shadowing
-fno-warn-orphans
-fno-warn-simple-patterns
-fno-warn-tabs
-fno-warn-type-defaults
-fno-warn-unused-binds
-fno-warn-unused-imports
-fno-warn-unused-matches
-fomit-interface-pragmas
-fprint-bind-contents
-fprint-bind-result
-fwarn-deprecations
-fwarn-duplicate-exports
-fwarn-missing-fields
-fwarn-missing-methods
-fwarn-overlapping-patterns
