"*":
  Zen:
    width: 160
  "atom-clock":
    dateFormat: "h:mma"
  "atom-ctags": {}
  "atom-material-ui":
    colors:
      abaseColor: "#ffd54f"
      accentColor: "#688cff"
      genAccent: true
      paintCursor: true
      predefinedColor: "Amber"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  core:
    disabledPackages: [
      "symbols-view"
      "react-es6-snippets"
      "emmet-jsx-props"
      "close-tags"
      "autoclose-html"
      "fonts"
      "react-snippets"
      "indentation-indicator"
      "file-icons"
      "welcome"
      "zentabs"
      "git-diff"
      "navigate"
      "no-title-bar"
      "react"
      "seti-icons"
      "about"
      "nord-atom-ui-vertical-tabs"
      "vertical-tabs"
      "emmet"
      "github"
      "git-plus"
      "sunset"
      "js-hyperclick"
      "distraction-free"
      "pomodoro"
      "tomato-timer"
      "pigments"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/xpxb058/dev"
    telemetryConsent: "no"
    titleBar: "hidden"
  "distraction-free":
    zenMode:
      fullscreen: false
  "duotone-dark-syntax":
    color:
      uno: "#519ecc"
  "duotone-light-syntax":
    color:
      duo: "#e4af02"
      uno: "#002bd9"
  editor:
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "a3c7e8dc-3150-3991-cef0-924d95da6753"
  fonts:
    fontFamily: "M+"
  "genesis-ui":
    distractionFree: {}
  "git-plus":
    general:
      _analyticsUserId: "09e42d09-9673-4e89-a028-9c6d652a407e"
  "hey-pane":
    expandedWidth: 1
  "highlight-selected": {}
  "isotope-ui":
    customBackgroundColor: true
    customBackgroundColorPicker: "#293341"
    minimalMode: true
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    gutterPosition: "Left"
    panelHeight: 69
    showPanel: true
    showProviderName: true
    tooltipFollows: "Keyboard"
  navigate:
    f1: "http://devdocs.io/#q=&searchterm"
    f10: "https://duckduckgo.com/?q=&searchterm"
    f6: "http://www.bing.com/search?q=&searchterm"
    openInSameWindow: false
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments:
    autocompleteSuggestionsFromValue: true
  pomodoro:
    playTicks: false
  "reddit-background":
    nsfw: true
  "status-bar": {}
  sunset:
    daytime_syntax_theme: "one-light-syntax"
    daytime_ui_theme: "one-light-ui"
    has_been_configured: true
    nighttime_ui_theme: "one-dark-ui"
  "tree-view":
    squashDirectoryNames: true
  "vertical-tabs": {}
  welcome:
    showOnStartup: false
