"*":
  "exception-reporting":
    userId: "41a2c5c0-8a8e-936b-c018-42dea43d529b"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "coffee-lint"
      "wrap-guide"
      "file-icons"
      "terminal-status"
      "csslint"
      "emmet"
      "minimap"
      "atom-beautify"
      "atom-terminal-panel"
      "Termrk"
      "atom-alignment"
      "browser-plus"
      "color-picker"
      "terminal-panel"
      "tabs-to-spaces"
      "javascript-snippets"
      "atom-jshint"
      "fixmyjs"
      "auto-update-packages"
      "pane-manager"
      "js2coffee"
      "numbers-on-a-pane"
      "js2coffee"
      "js2coffee"
      "tidy-tabs"
    ]
    projectHome: "/Users/petebrousalis/dev"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    audioBeep: false
  editor:
    invisibles:
      {}
    zoomFontWhenCtrlScrolling: true
    fontSize: 14
    lineHeight: 1.5
    softWrap: true
    fontFamily: "mplus-2m-regular"
  linter:
    {}
  "isotope-light-ui":
    {}
  "isotope-ui":
    fontFamily: "Roboto"
    minimalMode: true
    fontWeight: "Regular"
    matchEditorFont: true
  "one-dark-ui":
    layoutMode: "Compact"
  "tidy-tabs":
    runOnSave: true
  Termrk:
    {}
  emmet:
    {}
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
  "atom-beautify":
    _analyticsUserId: "04d20a21-907b-4105-8824-25aa7cc1533b"
  "terminal-panel":
    {}
  "browser-plus":
    {}
  "auto-update-packages":
    {}
